input.input-number {
  width:40px;
}
input.focus {
  background-color:#ffa;
}

body {
  width:100%;
}

body#nms-owner {
  background-color:#9cf;
  
  h1 {
    background-color:#06a;
  }
  h2 {
    border-left:8px solid #a0b0ff;
  }
  
  table {
    background-color:white;
  }
  thead {
    background-color: #668;
  }


  .bg-header {
    color:#fff!important;
    background-color:#333!important;
  }
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}


#loading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
}
 
#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  background: url("/img-loading.gif") center center no-repeat;
}
