

#select-address-dialog {
  font-size:12px;
  width:400px;
  
  #select-address-area {
  }
}

#destination-form-dialog {
  font-size:12px;
  padding:10px;
  width:400px;
}

#business_rule-dialog {
  font-size:12px;
  padding:10px;
  width:650px;
  th { width:180px;}
}
