<div class="panel panel-default">
  <div class="panel-heading linkPanelHeader">
    <a href="<%= owner_quotes_approves_path %>">
      <h3 class="panel-title"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> 見積（承認済）<br><small>Approved Quotes</small></h3>
    </a>
  </div>
  <div class="panel-body linkPanelBody">
    <%= render partial: "owner/quotes/minitable", locals:{orders: Order::Quote.approves.order("approved_at desc").limit(5)} %>
  </div>
  <div class="panel-footer" style="text-align:right;">
  </div>
</div>
