<div class="panel panel-default">
  <div class="panel-heading linkPanelHeader">
    <a href="<%= owner_quotes_commits_path %>">
      <h3 class="panel-title"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> 見積（承認申請中）<br><small>Commited Quotes</small></h3>
    </a>
  </div>
  <div class="panel-body linkPanelBody">
    <%= render partial: "owner/quotes/minitable", locals:{orders: Order::Quote.commits.order("created_at desc").limit(5)} %>
  </div>
  <div class="panel-footer" style="text-align:right;">
  </div>
</div>
