<div class="row">

<div class="col-sm-12 col-md-12">
  <%= render 'menus' %>
</div>
<!--
<div class="col-sm-12 col-md-6 col-lg-4">
  <%= render 'commited_quotes' %>
</div>

<div class="col-sm-12 col-md-6 col-lg-4">
  <%= render 'approved_quotes' %>
</div>

<div class="col-sm-12 col-md-6 col-lg-4">
  <%= render 'orders' %>
</div>
-->
</div>
