<div class="panel panel-default">
  <div class="panel-heading menu-heading" style='text-align=center'><%= image_tag("menu/icon/product.png") %><br/>商品Menu</div>
  <ul class="nav">
    <li><%= link_to image_tag('icons/16/address-book.png') + ' 商品リスト', owner_products_path %></li>
    <li><%= link_to image_tag('icons/16/add.png') + ' 新規追加', new_owner_product_path %></li>
  </ul>
</div>
