
#work-table {
  
  .work-field {
    margin:5px;
    padding:0px;
    border:1px solid gray;
    
    h2 {
      font-size:14px;
      font-weight:bold;
      margin:0;
      padding:3px;
      background-color:#fd9855;
    }
    
    .work-field-body {
      margin:0;
      padding:5px;
    }
  }
  

  
}

